.Navbar {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
  align-items: center;
  color: #242424;
  /* border: 5px solid green; */
  /* flex-direction: column; */
}

.Navbar .navTitleDesktop {
  display: flex;
  align-self: center;
  max-height: 80px;
  text-decoration: none;
  color: #242424;
  font-size: 40px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.Navbar .navTitleMobile {
  /* border: 3px solid red; */
  display: flex;
  /* position: absolute; */
  text-decoration: none;
  color: #242424;
  font-size: 30px;
  /* margin-right: 20px; */
  max-height: 80px;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* padding: 1%; */
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 500px) {
  .Navbar .navTitleMobile {
    font-size: 25px;
  }
}


.Navbar .links {
  max-height: 80px;
}

.Navbar .links .a:hover {
  border-bottom: 5px solid rgb(94, 92, 92);
}

.Navbar .links a {
  text-decoration: none;
  color: #242424;
  font-size: 25px;
}

/* .Navbar .links a:hover {
  border-bottom: 5px solid rgb(94, 92, 92);
} */

/* .Navbar .links .a .links:hover {
  border-bottom: 5px solid rgb(94, 92, 92);
} */

/* sort out remaining link hovers - some are doubled*/
/* .Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* 
.Navbar .navTitleMobile {
  border: 3px solid red;
  display: flex;
  position: absolute;
  text-decoration: none;
  color: #242424;
  font-size: 30px;
  margin-right: 20px;
  max-height: 80px;
  justify-content: center;
  align-items: center;
} */
.button-container {
  background-color: transparent;
  /* width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%; */
  display: flex;
  margin: 0;
  padding: 0;
  /* align-self: flex-start; */
  justify-content: center;
  /* align-items: flex-start; */
  color: #242424;
  /* border: 5px solid purple; */
  flex-direction: column;
}

.Navbar button {
  background-color: transparent;
  display: flex;
  align-self: flex-start;
  padding: 0;
  margin: 0;
  /* position: absolute; */
  border-color: transparent;
  /* border: 5px solid pink; */
  /* padding: 1%; */
}

/* .Navbar .leftSide #buttonlinks {
  display: flex;
} */

.hide-shop-kit-link {
  display: none;
  margin: 0;
  padding: 0;
}

.hide-explore-range-link {
  display: none;
  margin: 0;
  padding: 0;
}

/* @media only screen and (max-width: 880px) { */
/* .Navbar .links a {
  font-size: 20px;
} */
/* } */

/* @media only screen and (max-width: 750px) {
  .Navbar .links a {
    font-size: 15px;
  }
} */

.buttonLinksContainer {
  border: 5px solid yellow;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

/* @media only screen and (max-width: 880px) { */
.Navbar #buttonLinks {
  position: absolute;
  left: 0px;
  top: 80px;
  height: 100%;
  max-height: 100%;
  width: 100%;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

.Navbar #buttonLinks a {
  margin: 10px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

/* @media only screen and (min-width: 880px) { */
.Navbar .linksDesktop a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 15px;
  max-height: 80px;
}

.Navbar .linksDesktop .links a:hover {
  border-bottom: #242424;
}

.Navbar .linksDesktop {
  font-size: 20px;
  font-size: 25px;
  margin-left: 15px;
  max-height: 80px;
  display: flex;
}

/* } */

/* burgerbutton styling */

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgb(119, 113, 113);
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
